/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #eee;
	height: 100%;
	margin: 0;
	overflow: hidden;
}




/* 2. Content ================================= */
.landing{
	display: none;
}

.wrapper {
	background-color: #D1B3C4;
	height: 100vh;
	width: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2em 0;

	.heading-wrapper {
		background-color: #B392AC;
		color: #eee;
		text-transform: uppercase;
		font-size: 85px;
		width: 90%;
		height: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: .5em;
	}

	.category-wrapper {
		background-color: #B392AC;
		height: 4em;
		width: 90%;
		border-radius: 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.5em 3em;
		color: #eee;

		h2 {
		font-size: 35px;
		}

		input {
			background-color: #E8C2CA;
			border-radius: 1em;
			border: none;
			padding: 1em;
			width: 45%;
			font-size: 20px;
			text-align: center;
		}
		h3 {
			order: 5;
		}

		//The circle seems to be a little off-center to the left
		.countdown-timer {
			display: none;
			order: 2;
			background-color: #735D78;
			border-radius: 50%;
			padding: 3em 1em;
			font-weight: bold;
		}
	}

	.main-content-wrapper{
		background-color: #B392AC;
		height: 30em;
		width: 65%;
		border-radius: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		div{
			width: 33%;
			height: 33%;
			background-position:center;
			background-size: 75%;
			background-repeat: no-repeat;
		}
	}
}
